<h1>About Us </h1>
<div class="content">
	<p>
		This website is for people who want to know prices of agriculture products in Taiwan. It could show historical prices in wholesales for vegetable, fruit and flowers in Taiwan. It's unofficial site, which contrasts to ones own by government in Taiwan, so we won't take responsibility for data integrity and correctness. If you have some loss in any type, which are including but not limited to in property, material, fame, politics, ..., etc, due to making decisions based on these information on this website, we won't take responsibilities for your loss.
	</p>

	<p>Price data are from a website of open data in Taiwan government.</p>
	<p>Some functions are building, so be patient, please. Sorry, we could not provide contact email temporarily.</p>
	
</div>
