<h1>About Us </h1>
<div class="content">
	<p>
		This website is for people who want to know prices of agriculture products in Taiwan.
		It could show historical prices in wholesales for vegetable, fruit and flowers in Taiwan.
		It's unofficial site, which contrasts to ones own by government in Taiwan, so we won't take responsibility for data integrity and correctness.
		If you have some loss in any type, which are including but not limited to in property, material, fame, politics, ..., etc, due to making decisions based on these information on this website, we won't take responsibilities for your loss.
	</p>

	<p>
		Elements of left and right side of the chart at trending page may not present correctly because we may set them to zero automatically.
		Without setting them to zero, data used by the chart would not be aligned for rendering properly.
		To make sure whether elements of left and right side of the chart at trending page exist or not, you can check them by clicking links of previous and next pages.
		Previous or next page maybe display them.
		If you find nothing on both of these pages, it's sure to say that they do not exist actually on query or query-times you assigned.
		Table below the chart at trending page will be another reference for checking whether they exist.

	</p>

	<p>Price data are from a website of open data in Taiwan government.</p>
	<p>Some functions are building, so be patient, please. You could contact to us through email yhunglee&#43oz at gmail dot com. We only reply what emails we're interested in. </p>
	
</div>
