body
  background: image_url('background.jpg') 
  background-size: 100% 600%
  background-repeat: no-repeat

h2
  text-align: center

form
  position: absolute
  top: 35%
  left: 50%
  transform: translate(-50%,-35%)

label
  display: inline-block
  text-align: right
  width: 140px

.actions
  position: static
  text-align: center

.links
  position: absolute
  top: 80%
  left: 50%
  transform: translate(-50%,-50%)

@media only screen and (min-width: 400px) and (max-width: 767px)
  body
    background: image_url('background.jpg') 
    background-size: 100% 600%
    background-repeat: no-repeat
  h2
    text-align: center

  form
    position: absolute
    top: 20%
    left: 50%
    transform: translate(-50%, -20%)

  label
    display: inline-block
    text-align: right
    width: 140px

  .actions
    position: static
    text-align: center

  .links
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-20%)
@media only screen and (min-width: 768px)
  body 
    background: image_url('background.jpg')
    background-size: 100% auto
    background-repeat: no-repeat

  h2
    text-align: center

  form
    position: absolute
    top: 25%
    left: 50%
    transform: translate(-50%,-25%)

  label
    display: inline-block
    text-align: right
    width: 140px

  .actions
    display: block
    float: none
    position: static
    margin-left: auto
    margin-right: auto
    text-align: center

  .links
    position: absolute
    top: 60%
    left: 50%
    transform: translate(-50%,-50%)
