#css_table {
  display: table;
  margin: 50px 50px 50px 10px;
  width: 100%;
  height: 100%; }

.css_td {
  text-align: center;
  display: table-cell; }
  .css_td:hover {
    color: red; }

.css_tr {
  display: table-row; }
  .css_tr:hover {
    background-color: lightgreen; }
