body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.row:after {
  content: "";
  clear: both;
  display: block; }

[class*=col-] {
  float: left;
  padding: 15px; }

#warning {
  background-color: yellow;
  width: auto;
  text-align: center; }

#error {
  background-color: red;
  width: auto;
  text-align: center; }

ul.navi-bar {
  position: fixed;
  float: right;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3; }
  ul.navi-bar li {
    position: relative;
    display: inline;
    float: left;
    width: 33%;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 1px; }
    ul.navi-bar li .trending {
      border-right: 1px solid black; }
    ul.navi-bar li a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 0px;
      width: 100%; }
      ul.navi-bar li a:hover {
        color: while;
        background-color: lime; }

ul.veggie-list {
  display: none;
  position: fixed;
  overflow: auto;
  background-color: white;
  top: 10%;
  left: 0%;
  width: 70%;
  height: 80%;
  border: 2px solid grey; }

.btn-submit-veggie-query {
  display: none; }
  .btn-submit-veggie-query button[type*=submit] {
    position: fixed;
    width: 10%;
    height: 10%;
    top: 20%;
    left: 70%;
    background-color: red;
    font-size: 12px; }

.veggie-list label {
  display: inline-block;
  float: left;
  overflow: auto; }

#btn-veggie-list {
  position: fixed;
  bottom: 10%;
  left: 0%;
  font-size: 14px;
  display: block;
  width: 30%;
  height: 10%;
  opacity: 0.7; }
  #btn-veggie-list:hover {
    opacity: 1; }

#query-time {
  position: static;
  float: right; }

select.query-time {
  position: static;
  display: block;
  float: right;
  right: 5%; }

#css_table {
  display: none; }

.slideshow .item-1 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-2 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-3 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-4 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-5 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-6 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-7 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-8 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-9 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-10 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-11 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-12 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-13 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-14 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-15 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-16 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-17 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-18 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-19 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-20 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-21 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-22 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-23 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-24 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-25 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-26 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-27 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-28 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-29 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-30 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-31 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-32 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-33 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-34 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-35 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-36 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-37 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-38 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-39 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-40 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-41 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-42 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-43 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-44 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-45 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-46 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-47 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-48 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-49 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }
.slideshow .item-50 {
  display: inline-block;
  width: 139px;
  font-size: 16px;
  border: 2px solid mediumaquamarine; }

@media only screen and (min-width: 400px) and (max-width: 767px) {
  #css_table {
    display: table;
    margin: 50px 50px 50px 10px;
    width: 100%;
    height: 100%; }

  .css_td {
    text-align: center;
    display: table-cell; }
    .css_td:hover {
      color: Red; }

  .css_tr {
    display: table-row; }
    .css_tr:hover {
      background-color: LightGreen; }

  ul #btn-veggie-list {
    position: fixed;
    bottom: 10%;
    left: 0%;
    font-size: 14px;
    width: 10%;
    height: auto;
    opacity: 0.5; }
    ul #btn-veggie-list:hover {
      opacity: 1; }

  ul.navi-bar {
    position: static;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    right: 1;
    border: 1px solid black;
    background-color: limegreen; }
    ul.navi-bar li {
      position: relative;
      display: inline;
      float: left;
      width: auto;
      height: auto;
      font-size: 14px;
      margin: 0px;
      padding: 1px; }
      ul.navi-bar li .trending {
        border-right: 1px solid black; }
      ul.navi-bar li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 0px;
        width: 100%; }
        ul.navi-bar li a:hover {
          color: white;
          background-color: lime; }

  ul.veggie-list {
    display: none;
    position: fixed;
    overflow: auto;
    background-color: white;
    top: 10%;
    left: 0%;
    width: 70%;
    height: 80%;
    border: 2px solid grey; }

  .btn-submit-veggie-query {
    display: none; }
    .btn-submit-veggie-query button[type*=submit] {
      position: fixed;
      width: 20%;
      height: 10%;
      top: 20%;
      left: 70%;
      background-color: red;
      font-size: 14px; }

  .veggie-list label {
    display: inline-block;
    float: left;
    overflow: auto; }

  #btn-veggie-list {
    position: fixed;
    bottom: 10%;
    left: 0%;
    font-size: 14px;
    display: block;
    width: 30%;
    height: 10%;
    opacity: 0.7; }
    #btn-veggie-list:hover {
      opacity: 1; } }
@media only screen and (min-width: 768px) {
  #css_table {
    display: table;
    margin: 50px 50px 50px 10px;
    width: 100%;
    height: 100%; }

  .css_td {
    text-align: center;
    display: table-cell; }
    .css_td:hover {
      color: Red; }

  .css_tr {
    display: table-row; }
    .css_tr:hover {
      background-color: LightGreen; }

  ul.navi-bar {
    position: static;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    right: 1;
    border: 1px solid black;
    background-color: limegreen; }
    ul.navi-bar li {
      position: relative;
      display: inline;
      float: left;
      width: auto;
      height: 30px;
      font-size: 14px;
      margin: 0px;
      padding: 3px; }
      ul.navi-bar li .trending {
        border-right: 1px solid black; }
      ul.navi-bar li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 0px;
        width: 100%; }
        ul.navi-bar li a:hover {
          color: white;
          background-color: lime; }

  ul.veggie-list {
    display: none;
    position: fixed;
    overflow: auto;
    background-color: white;
    top: 65%;
    left: 0%;
    width: 70%;
    height: 30%;
    border: 2px solid grey; }

  .btn-submit-veggie-query {
    display: none; }
    .btn-submit-veggie-query button[type*=submit] {
      position: fixed;
      width: 200px;
      height: 30px;
      top: 70%;
      left: 70%;
      background-color: red;
      font-size: 14px; }

  .veggie-list label {
    display: inline-block;
    float: left;
    overflow: auto; }

  #btn-veggie-list {
    position: fixed;
    bottom: 10%;
    left: 0%;
    font-size: 14px;
    display: block;
    width: 200px;
    height: 30px;
    opacity: 0.7; }
    #btn-veggie-list:hover {
      opacity: 1; } }

/*# sourceMappingURL=vegetables.css.css.map */
